<div class="container">
  <div class="home">
    <img src="images/Yohproject-Crayon-Cute-Folder-music.ico_256x256 copy.png" alt="">
    <h1>musicLibrary_</h1>
    <h3>A virtual library of your favourite music</h3>
  </div>
</div>
