<!DOCTYPE html>
<html>
  <%- include ./application/_head %>
  <div class="demo">
    <%- include ./application/_header %>

    <%- body %>
  </div>


  <%- include ./application/_footer %>

  </body>
</html>
