<% if (error) { %>
<div class="elert alert-danger text-center" role="alert"><%= error %></div>
<% } %>
<section class="container">
  <form class="" action="/albums" method="post">
  <div class="form-group">
          <label for="album_name"></label>
      <input type="text" class="form-control" id="album_name" name="album[album_name]" placeholder="album name">
  </div>
  <div class="form-group">
          <label for="artist_name"></label>
      <input type="text" class="form-control" id="artist_name" name="album[artist_name]" placeholder="artist name">
  </div>
  <div class="form-group">
  <label for="artist_name">Artist Name (DB)</label>
  <select class="form-control" id="artist_name" name="album[artist]">
    <% artists.forEach(artist => { %>
      <option value="<%= artist._id %>"><%= artist.name %></option>
    <% }) %>
  </select>
</div>
  <div class="form-group">
          <label for="artwork"></label>
      <input type="text" class="form-control" id="artwork" name="album[artwork]" placeholder="artwork">
  </div>
  <div class="form-group">
          <label for="comments"></label>
      <textarea type="text" class="form-control" id="comments" name="album[comments]" placeholder="comments"></textarea>
      <div class="form-group">
  </div>

  <%# <div class="form-group">
    <label for="artwork">Artwork</label>
    <input type="file" class="form-control" id="artwork" name="album[artwork]">
    <p class="help-block"></p>
  </div>%>
  <button type="submit" class="btn btn-primary" name="button">Submit</button>
  </form>
</section>
