<% if (error) { %>
<div class="elert alert-danger text-center" role="alert"><%= error %></div>
<% } %>
<section class="container">
  <form action="/tracks/<%= track._id %>" method="post">
    <input type="hidden" name="_method" value="put">
  <div class="form-group">
          <label for="title">title</label>
      <input type="text" value='<%= track.title %>' class="form-control" id="title" name="track[title]" placeholder="title">
  </div>
  <div class="form-group">
          <label for="track_number">track number</label>
      <input value='<%= track.track_number %>'type="number" class="form-control" id="track_number" name="track[track_number]" placeholder="track number">
  </div>
  <div class="form-group">
          <label for="track_duration"></label>
      <textarea type="number" class="form-control" id="track_duration" name="track[track_duration]" placeholder="track duration"></textarea>
      <div class="form-group">
  </div>
  <%# <div class="form-group">
    <label for="artwork">Artwork</label>
    <input type="file" class="form-control" id="artwork" name="album[artwork]">
    <p class="help-block"></p>
  </div>%>
  <button type="submit" class="btn btn-primary" name="button">Update</button>
  </form>
</section>
